/* Removes the white border around the page */
body
{
    margin: 0px;
    padding: 0px;
}

/* #region Navbar */
ul.nav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 109, 193);
}
  
li.nav
{
    float: left;
}
  
li a.nav
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover .nav
{
    background-color: rgb(0, 74, 130);
}

.active
{
    background-color: rgb(35, 76, 107);
}
/* #endregion */

