/* Removes the white border around the page */
body
{
    margin: 0px;
    padding: 0px;
}

/* #region Navbar */
.navbar-custom {
    width: 100%;
    background-color: #233c6a;
    display: block;
    float: right;
    margin-right: 0%;
    padding: 0%;
}

.navbar-custom a {
    color: #ffffff;
}

a.navbar-brand {
    margin: 0%;
}

#logo {
    width: 100%;
    margin: 0%;
}

/* #endregion */