body {
    overscroll-behavior-y: none;
}

.profilePic {
    border-radius: 50%;
    width: 25%;
    margin: 1vw;
}


/* #region Navbar */
    .navbar-custom {
        width: 100%;
        background-color: #233c6a;
    }

    .navbar-custom a {
        color: #ffffff;
        font-size: 25px;
        overscroll-behavior-y: none;
    }

    a.navbar-brand {
        margin: 0%;
    }

    #logo {
        height: 50px;
        margin: 0%;
    }
/* #endregion */

/* #region main body */
    #main-body {
        border-spacing: 10px;
    }

    .container-custom {
        padding-top: 0%;
    }

    /* #region highlight */
        #highlight {
            padding: 0px !important;
        }

        #highlight div {
            background-color: #ccc;
            padding: 50px 30px;
        }
    /* #endregion highlight */

    /* #region leaderboard */
        /* #region leaderboard placement */
            .leaderboard-placement {
                margin: 25px;
                font-size: 3vw;
                color: #ffffff;
                background-color: #22468e;
                border-radius: 3vw;
                margin: 10px !important;
                max-height: 25%;
            }
        /* #endregion leaderboard placement */

        /* #region leaderboard main table */
            #leaderboard .row div {
                
                font-size: 25px;
            }

            .leaderboard-rank {
                text-align: center;
                max-width: 20px !important;
                padding: 10px;
            }

            .leaderboard-header {
                margin-right: 60px;
                background-color: #527fd3;
                color: #ffffff;
                font-size: 30px;
            }

            .leaderboard-name {
                padding: 10px;
                margin-left: 0px;
                text-align: left;
            }

            .leaderboard-points {
                padding: 10px;
                text-align: right;
                margin-right: 5%;
            }
        /* #endregion  */
    /* #endregion leaderboard */

    /* #region event-cards */
        .event-container {
            margin: 10px;
        }

        .event-card {
            margin: 10px;
            margin-top: 50px;
            background-color: #9fc1ff;
            border-radius: 2vw;
            padding: 10px;
            padding-left: 5%;
            margin: auto;
            cursor: pointer;
        }

        .badge {
            border-radius: 1em !important;
        }

        .btn {
            border-radius: 1em !important;
        }
    /* #endregion event-cards */

/* #endregion main body */


/* #region calendar */
#calendar {
    width: 100vw;
    height: calc(100vh - 100px);
}
/* #endregion calendar */