/* Removes the white frame around the page */
body
{
  margin: 0px;
  padding: 0px;
}
.head {
  margin-top: 2%;
  display: inline-block;
}
.txt-primary {
  margin-left: 6%;
  margin-top: 4%;
  font-size: 60px;
  font-family: 'Nexa Slab Bold FREE', sans-serif;
}
.txt {
  font-family: 'Nexa Slab Regular FREE', sans-serif;
}
.headers {
  position: relative;
}

.head-img {
  width: 80px;
  height: 80px;
  margin-left: 6%;
}
.card {
  width: 300px;
  background-color: lightgray;
  position: relative;
  margin-left: 6%;
  margin-top: 2%;
  display: inline-block;
}
.card-title {
  font-size: 40px;
}
.card-text {
  font-size: 18px;
}
.myrow {
  display: inline-block;
}
#points {
  display: none;
}